<md-dialog>
                <md-input-container class="md-block" flex-gt-xs="">
                        <input ng-model="vm.title"  size="30" placeholder="Inserisci il titolo">
                </md-input-container>
                <md-input-container class="md-block" >
                        <textarea ng-model="vm.description" size="30" md-maxlenght="150" md-select-on-focus  placeholder="inserisci descrizione"></textarea>
                </md-input-container>
                        <md-select ng-model="vm.priority" placeholder="Seleziona una priorità">
                                <md-option value="1">Alta</md-option>
                                <md-option value="0">Media</md-option>
                                <md-option value="-1">Bassa</md-option>
                        </md-select>
                <md-input-container class="md-block" flex-gt-xs="">
                        <input ng-model="vm.tags" size="30" placeholder="Tags">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="">
                        <input ng-model="vm.hours" size="30" type="number" step="0.5" placeholder="Tempo stimato ( in ore )">
                </md-input-container>

                <md-button ng-click="answer(vm)" class="md-raised md-primary">Salva</md-button>
</md-dialog>
