<div>
<md-content class="md-padding scroll tab-content"> 
<md-table-container>
	<table md-table>
		<input  type="text" ng-model="item.q" placeholder="Search Task">
		<thead md-head md-order="filter">
			<tr md-row>
				<th md-column md-order-by="title"><span>Titolo</span></th>
				<th md-column>Descrizione</th>
				<th md-column md-order-by="priority"><span>Piorità</span></th>
				<th md-column><span>Tag</span></th>
				<th md-column><span>Tempo stimato</span></th>
				<th md-column md-order-by="date"><span>Data Immissione</span></th>
				<th md-column><span>Cambio Priorità</span></th>
				<th md-column><span>Fatto?</span></th>

			</tr>
		</thead>
		
		<tbody md-body>
				<tr md-row  ng-repeat="item in customListCtrl.items | orderBy:filter  | filter:item.q as results"  ng-click="customListCtrl.toggleSelection(item)">
				<li class="animate-repeat" ng-if="results.length === 0">
												<strong>No results found.</strong>
																		</li>
				<td md-cell>{{item.title}}</td>
				<td md-cell>{{item.description}}</td>
				<td md-cell>
					<span ng-if="item.priority == 1">
						Alta
					</span>
					<span ng-if="item.priority == 0">
						Media
					</span>
					<span ng-if="item.priority == -1">
						Bassa
					</span>
				</td>
				<td md-cell>{{item.tags}}</td>
				<td md-cell>{{item.hours}} <span  ng-if="item.hours <= 1">Ora</span><span ng-if="item.hours > 1">Ore</span></td>
				<td md-cell>{{item.date |  date: "dd-MM-yyyy HH:mm"}}</td>
				<td md-cell></b><md-button ng-click="customListCtrl.changePriority(item)" class="md-icon-button" aria-label="Priority">
					<md-icon style="color: green" ng-if="item.priority == -1">low_priority</md-icon>
					<md-icon ng-if="item.priority == 0">label</md-icon> 
					<md-icon style="color: red" ng-if="item.priority == 1">priority_high</md-icon>
					</md-button>
				</td>
				<td md-cell><md-checkbox ng-model="item.done" ng-change="customListCtrl.checkStateChanged()" aria-label="done" class="md-primary md-align-top-right"></md-checkbox>
				</td>
			</tr>
	
		</tbody>
	</table>
</md-table-container>
</div>
</md-content>
