<div>
<md-content class="md-padding scroll tab-content"> 
<md-table-container>
	<table md-table>
		<thead md-head md-order="filter">
			<tr md-row>
				<th md-column md-order-by="title"><span>Titolo</span></th>
				<th md-column>Descrizione</th>
				<th md-column md-order-by="priority"><span>Piorità</span></th>
				<th md-column><span>Tag</span></th>
				<th md-column><span>Tempo stimato</span></th>
				<th md-column md-order-by="date"><span>Data Immissione</span></th>
				<th md-column><span>Cambio Priorità</span></th>
				<th md-column><span>Fatto?</span></th>

			</tr>
		</thead>
		
		<tbody md-body>
				<tr md-row  ng-repeat="item in customListCtrl.items | orderBy:filter | filter: customListCtrl.filterFunction"  ng-click="customListCtrl.toggleSelection(item)">
				<td md-cell>{{item.title}}</td>
				<td md-cell>{{item.description}}</td>
				<td md-cell ng-if="item.priority == 1">Alta</td>
				<td md-cell ng-if="item.priority == 0">Media</td>
				<td md-cell ng-if="item.priority == -1">Bassa</td>
				<td md-cell>{{item.tags}}</td>
				<td md-cell ng-if="item.hours <= 1 ">{{item.hours}} Ora</td>
				<td md-cell ng-if="item.hours > 1">{{item.hours}} Ore</td>
				<td md-cell>{{item.date |  date: "dd-MM-yyyy HH:mm"}}</td>
				<td md-cell></b><md-button ng-click="customListCtrl.changePriority(item)" class="md-icon-button" aria-label="Priority">
					<md-icon style="color: green" ng-if="item.priority == -1">low_priority</md-icon>
					<md-icon ng-if="item.priority == 0">label</md-icon> 
					<md-icon style="color: red" ng-if="item.priority == 1">priority_high</md-icon>
					</md-button>
				</md-cell>
				<td md-cell><md-checkbox ng-model="item.done" ng-change="customListCtrl.checkStateChanged()" aria-label="done" class="md-primary md-align-top-right"></md-checkbox>
				</td>
			</tr>
	
		</tbody>
	</table>
</md-table-container>
</div>
</md-content>
